* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 15px;
    --blue: #2C7DFA;
    --blue-shade: #3685ff;
    --dark-navy: #1f314f;
    --grey: #7d889e;
    --light-grey: #d5e1ef;
    --white: #ffffff;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 5.66667rem 1.8rem 5.66667rem 1.86667rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-grey);
}

.container {
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 1.33333rem;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    padding: 1.07rem;
}
/* Ovals */
.mask::before{
    display: block;
    content: "";
    width: 21.86667rem;
    height: 21.86667rem;
    border-radius: 21.86667rem;
    background: var(--blue);
    position: absolute;
    top: -10.9rem;
    left: -8.77rem;
    z-index: -1;
}
.mask::after{
    display: block;
    content: "";
    width: 18rem;
    height: 18rem;
    border-radius: 18rem;
    background: var(--blue);
    position: absolute;
    bottom: -12.43rem;
    right: -7.57rem;
    z-index: -1;
}
.mask {
    width: 100%;
    height: 62%;
    border-radius: 0.66667rem;
    background: var(--blue-shade);
    opacity: 0.9;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 4.27rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-code {
    width: 10.66667rem;
    height: 10.66667rem;
}
h1 {
    all: unset;
    display: block;
    width: 19.2rem;
    color: var(--dark-navy);
    font-size: 1.46667rem;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-weight: 700;
    margin: 1.07rem auto;
}
.description {
    width: 17.06667rem;
    color: var(--grey);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01253rem;
    margin: 0 auto;
}


/* Footer: Attribution */
footer {
    position: absolute;
    bottom: 1rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* For bigger screens */
@media only screen and (min-width: 900px) {
    body {
        padding: 10.13333rem 0rem 10.06667rem 0rem;
    }
    .container {
        width: 21.33333rem;
        height: 33.13333rem;
    }
}
